<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sergio.prueba.mapper.MiembrosMapper">
	<cache />
	<select id="getAllNombres" resultType="com.sergio.prueba.dto.DatosDto">
		SELECT * FROM miembros
	</select>
		<select id="buscarMiembro" resultType="com.sergio.prueba.dto.DatosDto">
		SELECT * FROM miembros WHERE nombre=#{nombre}
	</select>
	
	<insert id="nuevoMiembro" parameterType="com.sergio.prueba.dto.DatosDto">
		INSERT INTO miembros(nombre, dni)VALUES (#{nombre},#{dni})
	</insert>
	
	<delete id="eliminarMiembro" parameterType="com.sergio.prueba.dto.DatosDto">
		DELETE FROM miembros WHERE nombre=#{nombre}
	</delete>
</mapper>